# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
.venv/

# FastAPI local DB
expenses.db

# Terraform state + plan files
infra/.terraform/
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfstate*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate.backup

# Node / frontend stuff
frontend/node_modules/
frontend/package-lock.json
frontend/.cache/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
